{% extends 'base.html.twig' %}

{% block content %}
    <div class="head">
        <div class="page-head">
            {% include 'header/header.html.twig' %}
        </div>
        <div class="content">
                <div class="header-intro">{{ slogan }}</div>
                <button class="see-blogs"><a href="{{ path('show_blogs') }}">See all blogs</a></button>
        </div>
    </div>

{#    <div class="blog-snippet">#}
{#        <h2 class="latest">Latest posts</h2>#}
{#        {% for blog in blogs %}#}
{#            <div class="blog-snippet-content">#}
{#                <img class="blog-snippet-img" src="{{ blog.image }}" alt="test">#}
{#                <div class="blog-snippet-text">#}
{#                    <p class="date-published">{{ blog.date | date('j F Y') }}</p>#}
{#                    <h2 class="blog-title">{{ blog.title }}</h2>#}
{#                    <div class="short-description">{{ blog.context | slice(0, 200) ~ '...' }}</div>#}
{#                    <button class="read-more"><a class="read-more" href="{{ path('open_blog', {'id' : blog.id }) }}">Read more</a></button>#}
{#                </div>#}
{#                </div>#}
{#        {% endfor %}#}
{#    </div>#}

{#    <div class="head mt-5 socials">#}
{#        <ul>#}
{#            <li class="icons">#}
{#                <a href="#" target="_blank" class="icons__link">#}
{#                    <svg class="icons__icon icon-facebook2">#}
{#                        <use xlink:href="../app/sprite.svg#icon-facebook2"></use>#}
{#                    </svg>#}
{#                </a>#}
{#                    <i class="fab fa-facebook">test</i>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{% endblock %}
