{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-background ">
        <div class="page-head">
            {% include 'header/header.html.twig' %}
        </div>
    {% for blog in blogs %}
{#            <svg class="icon icon-earth">#}
{#                <use xlink:href="./assets/img/symbol-defs#icon-earth"></use>#}
{#            </svg>#}
            <div class="blog-snippet-content transform">
                <img class="blog-snippet-img" src="{{ blog.image }}" alt="test">
                <div class="blog-snippet-text">
                    <p class="date-published">{{ blog.date | date('j F Y') }}</p>
                    <h2 class="blog-title">{{ blog.title }}</h2>
                    <div class="short-description">{{ blog.context | slice(0, 200) ~ '...'  }}</div>
                    <button class="read-more"><a class="read-more" href="{{ path('open_blog', {'id' : blog.id }) }}">Read more</a></button>
                </div>
            </div>
    {% endfor %}
        </div>
{% endblock %}
